*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#1e2430;
}

.container{
display:flex;
height:100vh;
}


/* SIDEBAR */

.sidebar{
width:120px;
background:#2f5d9b;
color:white;
display:flex;
flex-direction:column;
align-items:center;
padding-top:20px;
}

.logo-box{
width:60px;
height:60px;
background:white;
color:#2f5d9b;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
border-radius:10px;
margin-bottom:40px;
}

.menu{
list-style:none;
width:100%;
}

.menu li{
display:flex;
flex-direction:column;
align-items:center;
padding:20px 0;
cursor:pointer;
font-size:14px;
}

.menu li i{
font-size:20px;
margin-bottom:5px;
}



/* CONTENT */

.content{
flex:1;
background:#f3eee9;
padding:40px;
border-top-left-radius:30px;
border-bottom-left-radius:30px;

/* GRID BACKGROUND */
background-image:
linear-gradient(#e7bdbd 1px, transparent 1px),
linear-gradient(90deg,#e7bdbd 1px, transparent 1px);

background-size:25px 25px;
}

.title{
text-align:center;
margin-bottom:30px;
letter-spacing:1px;
}


/* TOP SECTION */

.top-section{
display:flex;
gap:40px;
margin-bottom:40px;
}

.image-box{
width:420px;
height:220px;
border:2px solid #bbb;
border-radius:15px;
background:#ddd;
}

.description h2{
color:red;
margin-bottom:10px;
}

.description p{
font-size:14px;
line-height:1.6;
max-width:400px;
}


/* BOTTOM */

.bottom-section{
display:flex;
gap:40px;
}

.info{
flex:1;
}

.info h2{
margin-bottom:15px;
}

.info-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

.info label{
font-weight:bold;
font-size:14px;
}

.info p{
margin-top:5px;
font-size:14px;
}

.info i{
margin-right:6px;
color:#2f5d9b;
}


/* REGISTER */

.register{
width:300px;
}

.register h2{
margin-bottom:15px;
}

.register label{
font-size:14px;
}

.register select{
width:100%;
padding:10px;
margin-top:6px;
margin-bottom:20px;
border:none;
background:#4f7ebf;
color:white;
border-radius:5px;
}

.register button{
width:100%;
padding:12px;
background:#4f7ebf;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.small-text{
margin-top:10px;
font-size:12px;
text-align:center;
color:#444;
}